* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    text-align: center;
}

.new-data {
    text-align: center;
    height: 150px;
    padding-top: 40px;
}

h2 {
    margin-bottom: 13px;
    font-size: 16px;
}

button {
    margin-top: 15px;
}

#statics {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    height: 100%;
    width: 500px;
}
